<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item *ngFor="let noticia of noticias">
    
    <div class="card">
        <img [src]="noticia.img">
        <div>
			<div>
				<span>Creado el {{noticia.created_at}}</span>
			</div>
          	<h4>{{noticia.titulo}}</h4>
			<p>{{noticia.descripcion}}</p>
			<div>
				<ion-button>
					ver noticia
				</ion-button>
			</div>
        </div>
    </div>
  </ion-item>
</ion-content>
