<ion-header>
    <ion-toolbar class="greenyToolbar">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Noticias</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles"
            refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-item class="noticiaItem" *ngFor="let noticia of noticias">
        <!-- WIP -->
        <a href="/home/noticia/{{noticia.id}}" class="noticiaWrapperLink">
            <div class="noticiaWrapper">
                <div class="noticiaThumbnail" [style.background-image]="'url(' + noticia.img + ')'"></div>
                <div class="noticiaTitulo">
                    <p>{{noticia.titulo.substring(0,44) + '...'}}</p>
                </div>
                <div class="noticiaDescripcion">
                    <p>{{noticia.descripcion.substring(0,60) + '...'}}</p>
                </div>
                <div class="noticiaTimestamp">
                    <p>
                        {{noticia.created_at.split(" ")[0]}}
                    </p>
                </div>
                <div class="noticiaVer">
                    <a href="/home/noticia/{{noticia.id}}">
                        <b>Ir a la noticia</b>
                    </a>
                </div>

            </div>
        </a>
        <!-- WIP -->
    </ion-item>
    <ion-infinite-scroll (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>