.card {
    width: 100%;
    padding: 2px;
    margin: 10px;
    border-radius: 10px;
    display:flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(76,175,80, 0.35);
}

.card > div {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 13px;
    font-weight: bold;
}
.card img {
    padding: 5px;
    align-self: center;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    
}

.card > div > div {
    padding: 7px;
    display:flex;
    flex-direction: row-reverse;
    font-size: 14px;
}

.card >div >div span {
    font-size: 10px;
    opacity: 0.5;
}