<ion-header>
  <ion-toolbar class="greenyToolbar">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home/noticias"></ion-back-button>
      </ion-buttons>
    <ion-title>Noticia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid>
    <ion-row>
      <ion-col>
        <h1 class="titulo">{{noticia.titulo}}</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <img class="img" [src]="noticia.img">
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col text-right>
          <p class="fecha">{{noticia.created_at.split(" ")[0]}}</p>
          <p class="fecha">{{noticia.created_at.split(" ")[1]}}</p>
        </ion-col>
      </ion-row>
    <ion-row>
      <ion-col>
        <div class="cont" [innerHTML]="contenido"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>