.img  {
    padding: 0px;
    background-color: pink;
    width: 100%;
    max-height: 400px;
}

.titulo {
    font-weight: bold;
    padding: 3px;
}

.descr {
    font-weight: bold;
    padding: 3px;
    font-size: 20px;
}

.cont {
    padding: 3px;
    font-size: 20px;
}
.fecha {
    color:#b0c0b0;
    font-size: 15px;
}

.container {
    padding: 0px;
    margin: 0px;
}