<ion-header>
  <ion-toolbar class="greenyToolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Geolocalización</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  <ion-grid id="pictures">
    <ion-row>
      <ion-col *ngFor="let image of images; let i = index">
        <div class="addImageButton" text-center (click)="takePicture()" *ngIf="!image && isGeoActive">
          <ion-icon name="add"></ion-icon>
        </div>
        <div class="addImageButton" text-center *ngIf="!image && !isGeoActive">
        </div>
        <div class="addImageButton" text-center *ngIf="image">
          <img [src]="image">
          <ion-icon class="deleteImage" name="close-circle" (click)="deletePicture(i)"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item padding>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label>
            Latitud
          </ion-label>
          <ion-input value="{{latitud}}" disabled></ion-input>
        </ion-col>
        <ion-col>
          <ion-label>
            Longitud
          </ion-label>
          <ion-input value="{{longitud}}" disabled></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item padding>
    <ion-label class="descriptionTitle" position="stacked">Descripción</ion-label>
    <ion-textarea name="description" [(ngModel)]="descriptArea" autosize placeholder="Introduce más información acerca de las fotos..."></ion-textarea>
  </ion-item>
  <ion-button *ngIf="isGeoActive" (click)="createGeolocation(descriptArea)" padding>
      Enviar Geolocalización <ion-icon slot="end" name="send"></ion-icon>
  </ion-button>

  <ion-button *ngIf="!isGeoActive" disabled (click)="createGeolocation(descriptArea)" padding>
    Enviar Geolocalización <ion-icon slot="end" name="send"></ion-icon>
  </ion-button>
</ion-content>