<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Geolocalizacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
          <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.redbull.com%2Frbcom%2F052%2F2017-07-20%2F2451a45c-3d4c-4f5d-9d53-7a18a7a54a73%2F0010%2F1%2F1265%2F843%2F1%2Fgopro-imagen.png&f=1">
      </ion-col>
      <ion-col text-center>
          <ion-button>
              <ion-icon name="add"></ion-icon>
          </ion-button>
      </ion-col>
      <ion-col text-center>
          <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.redbull.com%2Frbcom%2F052%2F2017-07-20%2F2451a45c-3d4c-4f5d-9d53-7a18a7a54a73%2F0010%2F1%2F1265%2F843%2F1%2Fgopro-imagen.png&f=1">
      </ion-col>
      <ion-col text-center>
          <img src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fimage.redbull.com%2Frbcom%2F052%2F2017-07-20%2F2451a45c-3d4c-4f5d-9d53-7a18a7a54a73%2F0010%2F1%2F1265%2F843%2F1%2Fgopro-imagen.png&f=1">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Título</ion-label>
          <ion-textarea placeholder="Enter more information here..."></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button>
          enviar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>