<ion-header>
  <ion-toolbar>
    <ion-title>Crear Geolocalizacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="createPuntoFunction">
      <ion-icon name="add"></ion-icon>
      <ion-label>Crear punto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goToGeneralMap">
      <ion-icon name="map"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="goToNews">
      <ion-icon name="paper"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
