.addImageButton {
    min-height: 100px;
    height: 98%;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.deleteImage {
    position: absolute;
    width: 32px;
    height: 32px;
    top: -15px;
    right: -15px;
}

.descriptionTitle {
    font-size: 18px;
}

#pictures {
    margin-top: 15px !important;
}