<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="home">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>geolocalizacionCreada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div text-center>
    <h1>
      ¡Geolocalización creada!
    </h1>
    <p>
      !Enhorabuena, tu geolocalización ha sido creada!
    </p>
    <p>
      Ahora un administrador validará la información proporcionada
    </p>
    <p>
      Se paciente
    </p>
  </div>
</ion-content>