.lailaFont {
  font-family: 'Laila', serif;
}

.userAvatar {
  shape-outside: circle(50%);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.homeLogo {
  width: 50%;
  max-width: 400px;
}

ion-slides img {
  width: 40vw;
  grid-area: imagen;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

ion-tab-button:nth-child(1), ion-tab-button:nth-child(2) {
  border-right: 0.5px solid #1F4821;
}

.userData {
  width: 95%;
  position: absolute !important; 
  bottom: 56px !important;
  background-color: ghostWhite;
  margin: 10px;
  margin-left: 2.5%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ion-slide {
  background-color: ghostWhite;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

@media only screen and (orientation: landscape) {
  .sliderGrid {
    display: none;
  }
  .lailaFont {
    font-size: 20px;
  }

  .userData ion-icon, .userData span {
    font-size: 19px;
  }  

  .userAvatar {
    width: 50px;
    height: 50px;
  }
}

.homeInnerSlides {
  display: grid;
  grid-template-areas: 
  "username geover"
  "imagen imagen";
}

.geoVer {
  text-decoration: none;
  font-weight: bold;
  grid-area: geover;
  justify-self: center;
  align-self:center;
  font-size: 30px;
}

.userName {
  justify-self: center;
  grid-area: username;
}