.lailaFont {
  font-family: 'Laila', serif;
}

.userAvatar {
  shape-outside: circle(50%);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.homeLogo {
  width: 80%;
}

ion-tab-button {
  border-left: 0.5px solid #1F4821;
}