<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button [routerLink]="['/crear-geolocalizacion']" tab="crear-geolocalizacion">
          <ion-icon name="add"></ion-icon>
          <ion-label>Crear punto</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="goToGeneralMap">
          <ion-icon name="map"></ion-icon>
          <ion-label>Mapa</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="goToNews">
          <ion-icon name="paper"></ion-icon>
          <ion-label>Noticias</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
</ion-content>
