<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
        <ion-title>Registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <ion-item>
            <ion-label></ion-label>
            <ion-input placeholder="Nombre" name="name" ngModel required #first="ngModel"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label></ion-label>
            <ion-input placeholder="Email" type="email" name="email" ngModel required></ion-input>
        </ion-item>
        <ion-item>
            <ion-label></ion-label>
            <ion-input placeholder="Contraseña" type="password" name="password" ngModel required #first="ngModel">
            </ion-input>
        </ion-item>
        <ion-item>
            <ion-label></ion-label>
            <ion-input placeholder="Repite la contraseña" type="password" name="password_confirmation" ngModel required>
            </ion-input>
            <ion-input id="captchaRegister" type="hidden" name="g_recaptcha_response" value="{{captchaResponse}}" ngModel></ion-input>
        </ion-item>
        <re-captcha id="grecaptcha" (resolved)="captchaResolved($event)" siteKey="6LdLzpYUAAAAAP6EWNqwovoN8xvNJm_6RWAqmbHN" required></re-captcha>

        <ion-button [disabled]="!captchaPassed" id="submit_details" type="submit">
            Registrarme
        </ion-button>
    </form>

    <br><br>

    <a href="/login">
        ¿Ya tienes cuenta?
    </a>


</ion-content>